body {
  
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f2937;
    color: #fff;
}

nav {
    background-color: #0f172a;
    text-align: center;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 15px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #66fcf1;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

  
  header {
    padding-top: 50px;
    text-align: center;
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #66fcf1;
    box-shadow: 0 0 10px #66fcf1;
  }
  
  header h1 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 24px;
  }
  
  header h2 {
    font-size: 18px;
    color: #66fcf1;
  }
  
  section {
    margin-top: 50px;
  }
  
  section h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  section p {
    line-height: 1.6;
  }
  
section ul {
    list-style-type: disc; 
    margin-left: 0; 
    padding-left: 20px;
}

section li {
    margin-bottom: 10px; 
}

 
  section h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  footer {
    background-color: #0f172a;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #1f2937;
    color: #fff;
  }
  
  a {
    color: #66fcf1;
    text-decoration: none;
  }
  
  a:hover {
    color: #0f172a;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1f2937;
    color: #fff;
    font-size: 16px;
    font-weight: bold; 
}

td {
    font-size: 14px;
}


tr:hover {
    background-color: #0f172a;
}

tr {
  background-color: #253341;
}
